<!-- Mission section -->
<div class="mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Our mission
    </h2>

    <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
      <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
        <p class="text-xl leading-8 text-gray-600">
          Here at Gourmet Galaxy, our mission is to create a vibrant and inclusive online space where culinary enthusiasts, from novice cooks to seasoned chefs, come together to share, savor, and
          <span class="font-bold text-red-600">
            celebrate the diverse world of flavors.
          </span>
        </p>

        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700">
          <p>
            We are dedicated to fostering a global community that transcends borders, connecting individuals through their shared love for all things delicious.
            Our commitment extends beyond the plate, as we aim to inspire creativity, promote cultural exchange, and empower every member to embark on a delectable journey of discovery. 
          </p>

          <p class="mt-10">
            Join us in our mission to make every meal a moment to connect, explore, and relish the rich tapestry of culinary experiences that bring us all together.
          </p>
        </div>
      </div>

      <div class="lg:flex lg:flex-auto lg:justify-center">
        <dl class="w-64 space-y-8 xl:w-80">
          <div class="flex flex-col-reverse gap-y-4">
            <dt class="text-base leading-7 text-gray-600">
              New recipes every 24 hours
            </dt>
            
            <dd class="text-5xl font-semibold tracking-tight text-gray-900">
              32,000
            </dd>
          </div>

          <div class="flex flex-col-reverse gap-y-4">
            <dt class="text-base leading-7 text-gray-600">
              Unique cultures around the world
            </dt>
            
            <dd class="text-5xl font-semibold tracking-tight text-gray-900">
              3,800
            </dd>
          </div>

          <div class="flex flex-col-reverse gap-y-4">
            <dt class="text-base leading-7 text-gray-600">
              New users annually
            </dt>

            <dd class="text-5xl font-semibold tracking-tight text-gray-900">
              500,000
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<!-- Image -->
<div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
  <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="" class="aspect-[5/2] w-full object-cover xl:rounded-3xl">
</div>